<section>
  <h1>Diretivas</h1>

  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam debitis id fugiat sint est, cupiditate veritatis
    harum laudantium repellendus beatae quia quo aperiam molestiae optio amet ducimus earum vitae minus.</p>
  <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam debitis id fugiat sint est, cupiditate veritatis
    harum laudantium repellendus beatae quia quo aperiam molestiae optio amet ducimus earum vitae minus.</p>  -->
</section>