<section class="property-biding">
    <article>
        <h1>Interpolation / Interpolação</h1>
        <p>String renderizada com interpolação: {{ urlNome }}</p>
        <p>soma via interpolação de 1 + 1 = {{ 1+1 }}</p>
        <p>soma via interpolação de 1 + 1 + get valor() = {{ 1 + 1 + getValor() }}</p>
        <p>curtiu o curso: {{ getCurtirCurso() }}</p>
    </article>

    <article>
        <h3>property-biding</h3>

        <p>img via variavel</p>
        <img src="{{ urlImage }}" alt="imagem randomica">

        <p>img via data biding</p>
        <img [src]="urlImage" alt="imagem randomica">

    </article>


    <article>
        <h1>Class e Style Binding</h1>
        <div>
            Selecione uma Classe:
            <!-- criação de uma variavel local -->
            <!-- onchange serve pra escutar o evento -->
            <select #classe (change)="0">
                <!-- tirado da documentacao do angular -->
                <option value="alert-success">Sucesso</option>
                <option value="alert-info">Informação</option>
                <option value="alert-warning">Atenção</option>
                <option value="alert-danger">Perigo</option>
            </select>

            <div class="alert alert-danger" role="alert"
                [style.display]="classe.value === 'alert-danger' ? 'block': 'none'">
                esse texto só aparece em caso de erro
            </div>

            <div>
                <p class="alert {{ classe.value }}" role="alert">
                    texto colorido de acordo com a classe selecionada
                </p>
            </div>

            <!-- compara o valor de dentro do seletor e se for true é aplicado -->
            <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">
                Sucesso
            </div>

            <div class="alert" role="alert" [class.alert-info]="classe.value === 'alert-info'">
                Informação
            </div>

            <div class="alert" role="alert" [class.alert-warning]="classe.value === 'alert-warning'">
                Atenção
            </div>

            <div class="alert" role="alert" [class.alert-danger]="classe.value === 'alert-danger'">
                Perigo
            </div>
        </div>

    </article>

    <article>
        <h1>Event binding</h1>
        <p>ouvir eventos com angular</p>
        <div>
            <button class="btn btn-primary" (click)="botaoClicado()">eu sou um botão</button>
        </div>
        <br>

        <!-- testanto com input de texto  quando a tecla sobe-->
        <!-- acho que a manei do keyup.enter nao é recomendada já pode ter valor null -->
        <!-- (keyup.enter)="pressEnter($event.target.value)" -->

        <input type="text" (keyup)="onkeyUp($event)" (keyup.enter)="pressEnter($event)" (blur)="pressEnter($event)"
            #campoInput />

        <p>(muda a cada tecla apertada) texto digitado: {{ textDigitado }}</p>
        <p>(só muda quando o campo perde o foco) texto digitado : {{ textoSalvo }}</p>
        <p>(só muda quando aperto enter) texto digitado : {{ textoSalvo }}</p>

        <br>

        <!-- [class.alert-danger]="classe.value === 'alert-danger' -->
        <span (mouseover)="mouseOverOut()" (mouseout)="mouseOverOut()" class="alert"
            [class.alert-success]="isMouseOver">
            PASSE O MOUSE AQUI
        </span>

    </article>

    <article>
        <h1>Two-way data biding</h1>
        <div>

            <!-- REALMENTE NAO FUNCIONA -->
            <!-- nao funciona mais, nao sei se pq ta muito antigo -->
            <!-- <input type="text" [value]="nome" (input)="nome = $event.target.value" /> -->
            <!-- <p> voce digitou: {{ nome }}</p> -->


            <!-- FUNCIONA -->
            <!-- usando ngModel -->
            <!-- <input type="text" [ngModel]="nome" (ngModelChange)="nome = $event" /> -->
            <!-- <p> voce digitou: {{ nome }}</p> -->


            <!-- LEMBRAR DE ADICIONAR FORMSMODULE -->
            <h2>forma mais moderna</h2>
            <input type="text" [(ngModel)]="nome">
            <p> voce digitou: {{ nome }}</p>


            <input type="text" [(ngModel)]="pessoa.nome">
            <input type="text" [(ngModel)]="pessoa.idade">
            <p>eu sou {{ pessoa.nome }} e tenho {{ pessoa.idade }}</p>


        </div>
    </article>
    <section class="input-output-properties">
        <article>
            <h1>Input/Output Properties</h1>
            <app-curso-input [nome]="nomeDoCurso"></app-curso-input>
        </article>
    </section>

</section>